
<!DOCTYPE html>
<html ng-app="mainModule" ng-controller="RootCtrl" ng-init="initialize()">
<head>
  <link rel="stylesheet" type="text/css" href="assets/styles/main.css">
  <script src="assets/scripts/app.js"></script>
</head>

<body>
  <header ng-controller="NavCtrl">
    <ul>
      <li ng-repeat="item in items">
        <button ng-click="navigate(item.link)">{{ item.text }}</button>
      </li>
    </ul>
  </header>

  <main ng-view>
    <!-- this is where the fun happens! -->
  </main>
  
  <footer>
    <!-- <input type="text" ng-model="content"> -->
  </footer>
</body>
</html>