<!DOCTYPE html>
<html ng-app="sandbox">
<head>
  <link rel="stylesheet" type="text/css" href="assets/styles/style.css">
  <script src="assets/scripts/angular.js"></script>
  <script src="assets/scripts/app.js"></script>
</head>

<body>
  <header data-ng-controller="navCtrl">
    <ul>
      <li data-ng-repeat="item in items">
        <a href="{{ item.link }}">{{ item.text }}</a>
      </li>
    </ul>
  </header>

  <main>
    <div class="window glass" ng-model="test">
      <h1>{{ test.title }}</h1>
      <p>{{ test.desc }}</p>
    </div>
    <!-- <div class="draggable glass widget" ng-draggable>{{content}}</div> -->
  </main>
  
  <footer>
    <!-- <input type="text" ng-model="content"> -->
  </footer>
</body>
</html>
